body {
    font-family: Quicksand, sans-serif;
    color:  white;
    background-color: #EEE;
    padding: 0;
    margin: 0;
}

.header-container {
    background-color: #637865;
    margin-bottom: 10px;
}

.header-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.name {
    font-size: 60px;
    margin-bottom: 0;
}

.container2 {
    display: flex;
    justify-content: center;
    margin-top: 36px;  
}

.content-box {
    max-width: 768px;
    padding: 0;
    margin-top:0;
}

.picture-1 {
  border-radius: 10px;
  display:flex;
  border: solid #637865 4px;
}

.content-box p {
    margin: 0;
    padding: 0;
    font-family: Handlee, sans-serif;
    color: #728085;
    font-size: 30px;
    margin-left: 30px;
    line-height: 60px;
}

.dog-button {
    color: #BA6ACB;
    font-size: 35px;
    border: none;
    width: 80px;
}
.dog-button:hover {
    color:#FE9454;
}
.enlarged-button {
  font-family: 'Handlee', cursive;
  border: none;
  padding: 0;
  font-size:35px;
}
.enlarged-button:hover {
    font-size: 40px;
    border: none;
    padding: 0;
}

.bike-button {
  color: #F3C836;
  font-size: 35px;
  width: 60px;
  border: none;
}
.bike-button:hover {
  color:#677C57;
}
.nurse-button {
  color:#6AACC4;
  width: 85px;  
}
.nurse-button:hover {
  color:#F0C2EF;
}

  /* Modal Content (Image) */
  .popup-pic {
    border: solid white 3px;
    border-radius: 10px;
    display:block;
    margin: 5% auto;
    max-height: 800px;
    max-width: 600px;
    animation: zoomie ease-in 500ms;
  }
  @keyframes zoomie {
    0% {
      opacity: 0;    
    }
    100% {
      opacity: 1;   
    }
  } 

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-container {
      width: 100%;
    }
  }

  .fancy-modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-bottom: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* opacity ]*/ 
  }

  .modal--open {
    display: block;
  }
  
  /*BIKE MODAL */

  .bike-modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-bottom: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* opacity ]*/  
  }
  
  .bike-modal--open {
    display: block;
  }

  .bike-pic {
    border: solid white 3px;
    border-radius: 10px;
    display:block;
    margin: 5% auto;
    max-height: 800px;
    max-width: 600px;
    animation: zoomie ease-in 500ms;
  }
  @keyframes zoomie {
    0% {
      opacity: 0;    
    }
    100% {
      opacity: 1;   
    }
  } 

/* NURSE MODAL*/
.nurse-modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-bottom: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* opacity ]*/  
}

.nurse-modal--open {
  display: block;
}

.nurse-pic {
  border: solid white 3px;
  border-radius: 10px;
  display:block;
  margin: 5% auto;
  max-height: 800px;
  max-width: 600px;
  animation: zoomie ease-in 500ms;
}
@keyframes zoomie {
  0% {
    opacity: 0;    
  }
  100% {
    opacity: 1;   
  }
} 

  
 

.link-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.instagram-icon, .facebook-icon, .email-icon {
    margin-left: 20px;

}

a:hover {
   opacity: 0.4;
}

button {
  cursor: pointer;
}