body {
    font-family: Quicksand, sans-serif;
    color:#637865;
    padding: 0;
    margin: 0;
}
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
    margin-bottom: 24px;
}
 
.name {
    font-size: 80px;
    border-bottom: dashed #EED1C6 2px;
}
/* NAVIGATION MENU STYLE */

.nav-icon:hover {
  opacity: 0.4;
  cursor: pointer;
}

.nav-links-container {
  display: none;
}

.nav-bar {
}

.nav-links--open {
  display: inline-flex

}
.nav-links-container {
  position: absolute;
  padding-top: 18px;
  animation: navbar ease-in 500ms;
  padding-left:20px;
}

.nav-icon {
  margin-left: 16px;
  margin-top: 16px;
}

.home-button {
  margin-top: 20px;
  margin-left: 16px;
}

@keyframes navbar {
  0% {
    opacity: 0;   
  }

  100% {
    opacity: 1;    
  }
} 

.nav-links-container a {
  color: #637865;
  padding-top:4px;
  padding-bottom: 8px;
  text-decoration: none;
  font-size: 24px;
  display: block;
  margin-right: 32px;
  border-bottom: dashed #EED1C6 2px;
  
}

/* NAVIGATION MENU STYLE */

.mountain-container {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.container2 {
    display: flex;
    justify-content: center;
    margin-top: 36px;  
}

.content-box {
    max-width: 768px;
    padding: 0;
    margin-top:0;
}

.picture-1 {
  border-radius: 12px;
  border: solid #637865 4px;
}

.content-box p {
    margin-top: 50px;
    padding: 0;
    font-family: Quicksand, sans-serif;
    color: #728085;
    font-size: 24px;
    margin-left: 30px;
    line-height: 56px;
}

.dog-button {
    font-size: 32px;
    border: none;
    width: 66px;
}
.dog-button:hover {
    color:#637865;
}
.enlarged-button {
  font-family: 'Handlee', cursive;
  border: none;
  padding: 0;
  font-size:32px;
  background-color: white;
  color: #F08080;
}
.enlarged-button:hover {
    font-size: 36px;
    border: none;
    padding: 0;
    color: #63949E;
}

.bike-button {
  font-size: 32px;
  width: 60px;
  border: none;
}

.nurse-button {
  width: 86px;  
}


  /* Modal Content (Image) */
  .popup-pic {
    border: solid white 3px;
    border-radius: 10px;
    display:block;
    margin: 5% auto;
    max-height: 800px;
    max-width: 600px;
    animation: zoomie ease-in 500ms;
  }
  @keyframes zoomie {
    0% {
      opacity: 0;    
    }
    100% {
      opacity: 1;   
    }
  } 

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 800px){
    .fancy-modal-container, .bike-modal-container, .nurse-modal.container {
      width: 100%;
    }
  }

  .fancy-modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-bottom: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* opacity ]*/ 
  }

  .modal--open {
    display: block;
  }
  
  /*BIKE MODAL */

  .bike-modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-bottom: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* opacity ]*/  
  }
  
  .bike-modal--open {
    display: block;
  }

  .bike-pic {
    border: solid white 3px;
    border-radius: 10px;
    display:block;
    margin: 5% auto;
    max-height: 800px;
    max-width: 600px;
    animation: zoomie ease-in 500ms;
  }
  @keyframes zoomie {
    0% {
      opacity: 0;    
    }
    100% {
      opacity: 1;   
    }
  } 

/* NURSE MODAL*/
.nurse-modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-bottom: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* opacity ]*/  
}

.nurse-modal--open {
  display: block;
}

.nurse-pic {
  border: solid white 3px;
  border-radius: 10px;
  display:block;
  margin: 5% auto;
  max-height: 800px;
  max-width: 600px;
  animation: zoomie ease-in 500ms;
}
@keyframes zoomie {
  0% {
    opacity: 0;    
  }
  100% {
    opacity: 1;   
  }
} 


.link-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.instagram-icon, .github-icon, .email-icon {
    margin-left: 20px;

}

a:hover {
   opacity: 0.4;
}

button {
  cursor: pointer;
}

.projects-container {
  display:flex;
  justify-content: center;
}





/* MEDIA ADJUSTMENT */

@media (max-width: 1024px) {
.name {
    font-size: 54px;
}
/* MEDIA ADJUSTMENT */

.mountain-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* MEDIA ADJUSTMENT */
.nav-links--open {
  display: inline; 
}
.nav-links-container {
  position: absolute;
}

.home-button {
  margin-top: 20px;
}
/* MEDIA ADJUSTMENT */
.nav-links-container a {
  color: #637865;
  padding-top:12px;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
}
/* MEDIA ADJUSTMENT */
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    /* The width is 100%, when the viewport is 800px or smaller */
  }
  /* MEDIA ADJUSTMENT */
  .picture-1 {
    max-width: 320px;
    max-height: 420px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
  }
  /* MEDIA ADJUSTMENT */
  .content-box p{
    padding: 12px;
    font-size: 24px;
    line-height: 40px;
    margin-top: 12px;
  }
   
}

/* MEDIA ADJUSTMENT */