* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

$mobile-breakpoint: 800px;
$main-font: Quicksand, sans-serif;
$primary-color: #637865;
$secondary-color: #F69981;

a:hover {
    color: #F69981;
    cursor: pointer;
 }

button {
    cursor: pointer;
  }

  body {
    color:#637865;
      font-family: Quicksand, sans-serif;
      padding: 0;
      margin: 0;
      position: relative;
      height:100vh;
      @media (max-width: $mobile-breakpoint) {
        font-size: 20px;
      }
  }
  


/*  gray mtn color fill="#D7D5D5" */

/* pink sun color fill="#EED1C6" */






