
.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .header-container {
      margin-bottom: 24px;
  }
   
  .name {
      text-align:center;
      font-family: Quicksand, sans-serif;
      font-size: 68px;  
      margin: 0;
      margin-bottom: 12px;
      @media(max-width: $mobile-breakpoint) {
        font-size: 54px;
      }
  }

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.mountain-container {
  width: 50vh;
}

.mountain-svg {
  max-width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.link-icons {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.social-icon {
  margin-left: 20px;
}

.social-icon:hover, .nav-icon:hover, .home-icon:hover {
  fill: $secondary-color; 
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  font-size: 18px;
  padding:20px;
  width: 100%;
}