.nav-icon {
    margin-left: 16px;
    margin-top: 16px;

  &:hover {
      cursor: pointer;
  }
}

.nav-links-container {
    display: none;
    position: absolute;
    padding-top: 18px;
    animation: navbar ease-in-out 400ms;
    padding-left:20px;
    &.nav-links--open {
      display: inline-flex;
    }
    a {
      color: #637865;
      padding-top:4px;
      padding-bottom: 8px;
      text-decoration: none;
      font-size: 20px;
      margin-right: 32px;
      &:hover {
        color: #F69981;
      }
      border-bottom: dashed #F69981 2px; 
      @media (max-width: $mobile-breakpoint) {
          font-size: 20px;
      }
    }   
}

@keyframes navbar {
  0% {
    opacity: 0;   
  }

  100% {
    opacity: 1;    
  }
} 


