$mobile-breakpoint: 800px;
$main-font: Quicksand, sans-serif;
$primary-color: #637865;
$secondary-color: #F69981;

@import "./globals.scss";
@import "./about.scss";
@import "./home.scss";
@import "./navigation.scss";
@import "./projects.scss";
@import "./style.scss";