* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:hover {
  color: #F69981;
  cursor: pointer;
}

button {
  cursor: pointer;
}

body {
  color: #637865;
  font-family: Quicksand, sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100vh;
}
@media (max-width: 800px) {
  body {
    font-size: 20px;
  }
}

/*  gray mtn color fill="#D7D5D5" */
/* pink sun color fill="#EED1C6" */
.about-main-container {
  height: 100vh;
}

.about-header {
  display: flex;
  justify-content: center;
  color: #637865;
  font-size: 64px;
  margin: 16px 0;
}
@media (max-width: 800px) {
  .about-header {
    margin: 0;
  }
}

.about-content {
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.description-box {
  max-width: 800px;
  border: dashed #F69981 3px;
  border-radius: 12px;
  margin: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-box p {
  font-family: Quicksand, sans-serif;
  color: #637865;
  font-size: 24px;
  line-height: 54px;
  padding: 24px;
  margin-top: 0;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  .description-box p {
    padding: 12px 20px;
    font-size: 20px;
    line-height: 40px;
    margin-top: 12px;
  }
}

.self-portrait {
  max-height: 520px;
  border-radius: 12px;
}
@media (max-width: 800px) {
  .self-portrait {
    max-width: 320px;
    max-height: 420px;
    margin: 20px;
  }
}
@media (max-width: 1024px) {
  .self-portrait {
    margin: 24px;
  }
}

.modal-button {
  padding: 0;
  font-size: 28px;
  color: #637865;
  border: none;
  border-bottom: dashed #F69981 2px;
  background-color: white;
}
.modal-button:hover {
  padding: 0;
  color: #F69981;
  border-bottom: dashed #F69981 2px;
}
@media (max-width: 800px) {
  .modal-button {
    font-size: 24px;
  }
}

/* Modal Content*/
@media (max-width: 800px) {
  .modal-image {
    height: 480px;
    width: 344px;
    margin: 40% auto;
  }
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-image {
  border: solid white 3px;
  border-radius: 10px;
  display: block;
  margin: 4% auto;
  max-height: 640px;
  max-width: 440px;
  animation: zoomie ease-in 500ms;
}
@keyframes zoomie {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal--open {
  display: block;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  margin-bottom: 24px;
}

.name {
  text-align: center;
  font-family: Quicksand, sans-serif;
  font-size: 68px;
  margin: 0;
  margin-bottom: 12px;
}
@media (max-width: 800px) {
  .name {
    font-size: 48px;
  }
}
@media (max-width: 850px) and (orientation: landscape) {
  .name {
    font-size: 54px;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

.mountain-container {
  width: 54vh;
}
@media (max-width: 850px) and (orientation: landscape) {
  .mountain-container {
    width: 40vw;
  }
}

.mountain-svg {
  max-width: 100%;
  margin-bottom: 12px;
}

.footer {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  padding: 16px;
  width: 100%;
  background-color: #efefef;
  /* @media (max-width:374px) {
    display:none;
  }
  @media (max-width:850px) and (orientation:landscape) {
    display: none;
  } */
}
@media (max-width: 800px) {
  .footer {
    padding: 8px;
  }
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.link-icons {
  display: flex;
  fill: white;
  padding-bottom: 4px;
}

.social-icon {
  margin-left: 20px;
}

.social-icon:hover, .nav-icon:hover, .home-icon:hover {
  fill: #F69981;
}

.nav-icon {
  margin-left: 16px;
  margin-top: 16px;
}
.nav-icon:hover {
  cursor: pointer;
}

.nav-links-container {
  display: none;
  position: absolute;
  padding-top: 16px;
  animation: navbar ease-in-out 400ms;
  padding-left: 16px;
}
.nav-links-container.nav-links--open {
  display: inline-flex;
}
.nav-links-container a {
  font-weight: bold;
  color: #637865;
  padding-top: 4px;
  padding-bottom: 8px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 24px;
  border-bottom: dashed #F69981 2px;
}
.nav-links-container a:hover {
  color: #F69981;
}

@keyframes navbar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h2 {
  margin: 12px;
}

.meme-project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: Quicksand, sans-serif;
  color: #637865;
  border: dashed #F69981 3px;
  width: 300px;
  height: 200px;
  font-size: 24px;
  border-radius: 12px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.showMeme {
  position: relative;
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
